html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

body {
    background: none;
}

#registerForm {
    margin-top: 250px;
    margin-left: 40%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
#loginForm {
    margin-top: 250px;
    margin-left: 40%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
#logout {
    position: absolute;
    margin-right: 20px;
    margin-top: 20px;
}

#cart_icon {
    margin-right: 10px;
}


#ordersbutton{
    position:absolute;
    margin-top: 220px;
    margin-left: 1500px;
}
#cart-tbl {
    background-color: aliceblue;
}
h1 {
text-align: center }

#ordertable:before {
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;

}
#ordertable {
    overflow: auto;
    position: relative;
}
table {
    margin: 15px;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px;
    box-shadow: 0 0 5px gray;
}
