html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

body {
    background: none;
}

#registerForm {
    margin-top: 250px;
    margin-left: 40%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
#loginForm {
    margin-top: 250px;
    margin-left: 40%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
