# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
.idea/modules.xml
.idea/phpcart1.1.iml
.idea/workspace.xml
